.list__product_wrap {
    padding: 0px 20px;
    margin: 20px auto 40px;

    &_title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    &_list {
        display: flex;
        flex-wrap: wrap;
        padding: 30px 0;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;


        &_item {
            width: 350px;
            padding: 12px;
            margin: 0 20px;
            position: relative;

            img {
                width: 100%;
                object-fit:cover;
                transition: transform .4s;
            }

            .item_info {
                text-align: center;
                padding:10px;
                margin: 8px;

                &_name {
                    font-family: "Oswald",sans-serif;
                    font-size: 32px;
                    font-weight: 600;
                }

                &_price {
                    font-size: 20px;
                    color: #9c9c9c;
                }
            }

            &:hover img{
                transform: scale(1.2);
            }

            &:hover .item_info_price {
                color: rgb(211, 32, 32);
                font-weight: 600;
            }

        }
    }
}

.pagination {
    width: 100%;
    text-align: center;
    margin: 10px 0 20px;

    .pagination_number {
        display: inline-block;
        padding: 8px;
        margin: 0px 5px;
        border-radius:4px;
        border: 1px solid #ccc;
        background-color: #ccc;
    }

    .active {
        background-color: #045eb7;
        color: #ffffff;
    }
}

@keyframes liner {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media screen and (max-width: 1180px){
    .list__product_wrap_list_item {
        width: 320px;
    }
}

@media screen and (max-width: 1080px){
    .list__product_wrap_list_item {
        width: 42%;
    }
}

@media screen and (max-width: 620px) {
    
    .list__product_wrap_list_item {
        width: 100%;
    }
}


