.box___chat {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 30px;
    right: 30px;
    overflow: hidden;
    max-height: calc(100% - 40px) ;

    width: 350px;
    background-color: #ffffff;
    margin: 0 auto;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    z-index: 200;
    animation: show 0.5s linear;

    .box__chat-title {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 12px;
        border-radius: 4px 0 4px 0;
        background-color: #0a47b7;
        color: #fff;
        position: relative;
        
        .close {
            position: absolute;
            top: 20px;
            right: 10px;
            font-size: 30px;
            cursor: pointer;
        }
        p{
            width: 100%;
            padding: 8px;
            display: inline-block;
            font-size: 20px;
            font-weight: bold;
        }

        span {
            padding: 8px;
        }

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
    
    
    .box__chat-content {
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .box__chat-bot{
            display: flex;
            width: 100%;
            padding: 4px 0;
            align-items: center;

            img{
                border-radius: 50%;
                width: 30px; 
                height:30px;
                margin-right: 5px;
                object-fit: cover;
            }

            p {
                display: inline-block;
            }

        }

        .box__chat-content-message {
            height: 100%;
            padding: 0 10px;    
            overflow: hidden;
            overflow-y: auto;
        }
        
        .box__chat-content-send,
        .box__chat-content-recieved{
            padding: 8px;
            line-height: 1.2;
        }
        
        .box__chat-content-send {
            text-align: right;
        }
        
        .box__chat-content-send p{
            background-color: rgb(205, 210, 199);
            color: black;
            max-width: 80%;
        }
        
        .box__chat-content-recieved {
            text-align: left;
        }
        
        .box__chat-content-recieved p{
            background-color: #0a47b7;
            color: white;
            max-width: 80%;
        }
        
        .box__chat-content-send p,
        .box__chat-content-recieved p{
            display: inline-block;
            padding: 8px;
            border-radius: 6px;
        }
        
        .box__chat-content-input {
            padding: 10px;
            border-top: 1px solid #ccc;
            position: relative;

            .chat_send-icon {
                position: absolute;
                right: 20px;
                top: 20px;
                font-size: 20px;
            }

            input {
                width: 100%;
                padding: 8px;
                border-radius: 6px;
                outline: none;
                border: 1px solid #767575;
            }
        }
        
    }
}   

@keyframes show {
    from { 
        opacity: 0;
    }
    to { 
        opacity: 1;
    }
}

