.header {
    height: 56px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

    text-transform: uppercase;
    background: #000;
    color: #fff;
    z-index: 100;
    position: sticky;
    top: 0;

    .logo {
        cursor: pointer;
        width: 130px;
        height: 95%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 56px;

        margin-left: 15px;
        margin-right: 15px;
    }

    &__right {
        .header_search_icon,
        .header_cart_icon,
        .header_register,
        .header_login {
            display: inline-block;
            padding: 4px;
            font-weight: 600;
            line-height: 43px;
        }

        .header_search_icon {
            margin-right: 10px;
        }

        .header_login {
            &::after {
                width: 10px;
                height: 10px;
                background-color: #000;
            }
        }
    }

    &_menu {
        display: inline-block;
        margin-right: 20px;
        position: relative;

        &_item {
            display: inline-block;
            padding: 4px;
            font-weight: 600;
            line-height: 43px;
            margin-right: 20px;

            &:hover {
                color: #f82121;
                border-bottom: 4px solid #0833f1;
                font-weight: 600;
                transition: 0.2s linear;
            }
        }
        .active {
            color: #f82121;
            font-weight: 600;
            border-bottom: 4px solid #ffffff;
        }
        
    }
    
    &_submenu_dongxe_wrap{
        display: none;
        text-align: center;
        width: 800px;
        align-items: center;    
        position: absolute;

        left: -30%;
        top: 100%;
        animation: animation 0.6s linear; 


        .header_submenu_dongxe {
            display: flex;
            justify-content: center;
            background: #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

            flex-wrap: wrap;
            left: 160px;
            border-radius: 0 0 8px 8px;

            &_item{
                display: inline-block;
                color: black;
                text-align: center;
                
                &_img{
                    width: 200px;
                    height: 120px;
                    margin-bottom: 10px;

                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }

                &_type{
                    padding: 8px;
                    font-weight: 600;
                }     
            }
        }
    }

    .header_submenu_dichvu{
        position: absolute;
        display: none;
        background: #fff;
        top: 100%;
       
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        border-radius: 0 0 8px 8px;
        animation: animation 0.5s linear; 


        .header_submenu_dichvu_item{
            color: #000;
            width: 100%;
            padding: 8px;

            &:hover {
                background: #ccc;
                cursor: pointer;
            }
        }
    }

    &_cart {
        display: inline-block;
        margin-right: 20px;
    }

    &_account {
        display: inline-block;
    }

    .header_menu_item:hover .header_submenu_dongxe_wrap,
    .header_menu_item:hover .header_submenu_dichvu{
        display: block;
    }

    &_search{
        width: 100%;
        text-align: center;
        padding: 8px;
        background: #fff;
        animation: animation 0.5s linear;
        input {
            width: 500px;
            outline: none;
            padding: 8px;
            padding-left: 20px;
            border-radius: 4px;
            border: 1px solid #ccc;


            &:focus {
                border: 1px solid #ccc;
            }
        }
    }
}

@keyframes animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}