* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;

    font-family: "Helvetica Neue", "Helvetica";
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container{
    margin: 0 auto;
    max-width: 1312px;

}

.btn {
    cursor: pointer;
}

.icon{
    font-size: 16px;
}
