.serviced {
    display: flex;
    padding-bottom: 20px; 
    
    .serviced_img{
        width: 50%;
        padding: 10px;

        img {
            width: 100%;
        }
    }
    
    .serviced_content {
        width: 50%;
        height: 100%;
        flex-direction: column;
        padding: 20px;
        padding-left: 64px;
        color: #53575b;

        h1 {
            font-size: 36px;
            line-height: 1.5;
            margin-bottom: 20px;
        }

        h3 {
            color: #53575b;
            font-size: 18px;
            margin-bottom: 20px;
        }

        p{
            line-height: 1.5;
        }

        .see_more {
            padding: 12px 14px 12px 24px;
            color: #ff0000;
            display: inline-block;
            border: 1px solid #ff0000;;
            text-transform: uppercase;
            text-align: center;
            
            font-size: 14px;
            line-height: 22px;
            font-weight: bold;
            position: relative;
            margin-right: 10px;
            margin-top: 50px;
            min-width: 130px;
            border-right: solid 1px #ff0000;

            &:after {
                content: "";
                position: absolute;
                background-image: none !important;
                background: #ffffff;
                height: 10px;
                width: 14px;
                top: 37px;
                right: -9px;
                border-left: 1px solid #ff0000;
                z-index: 4;
                transform: skewX(-45deg);
            }

            &:hover {
                background-color: #ff0000;
                color: #fff;
                cursor: pointer;
            }
        }

    }
}